
#resume .card-img-top {
    aspect-ratio: 1;
    object-fit: scale-down;
}

#resume .carousel-item .img-carousel {
    aspect-ratio: 1;
    object-fit: contain;
}

#resume .carousel.slide {
    background-color: black;
}

#resume .cics-logo {
    width: 100%;
}

@media only screen and (max-width: 576px) {
    #resume .cics-logo {
        width: 50%;
    }
}